p,
h1,
h2,
h3,
h4,
h5,
a,
li {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: Poppins;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    line-height: 1.5;

}

p {
    margin: 12px 0 16px;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}
