.gallery-img {
    overflow: hidden;
}

.product-galley {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.border {
    
    .border-img {
        border: 1px solid black;
        border-radius: 16px;
        background-color: #c4bfbf;
    }
}